P          {line-height: 150%}
.challange {background: yellow; padding: 10}
.activity  {background: #ffffaa; padding: 10}
.key       {background: #fbdd40; padding: 10}
.image     {font-size: 80%; align=center}
